
/* all boxes will be the same size unless specified */
* {
    box-sizing: border-box;
}


/* speicifc changes for the body of the pagees as a whole */ 
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    background-color: #D5F4FF/* light blue */ !important; 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


/* changes for the top header box in main page */
.upperbox {
	background-color: #09195B /* dark blue */;
    margin-top: 0.5%; 
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    padding: 15px 0px 30px 0px; /* amount of space between end of box and begining/ending of sentence, 15 is up top, 30 is down below */
}


/* h1 referes to the top banner of the main page */
h1 {
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}


u {
    border-bottom: 1px solid white; /* making a double underlining */
}


.heading {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    /*
    position: relative;
    bottom: 9vw;
    left: 36vw;
    */
}


div.intro {
	font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}


ul {
    list-style: none;
    margin-top: 5%;
}


/* describes how the table boxes should look when visited and then come back on the pagee (removing that purple thing) */
.content>ul>li>a:link,
.content>ul>li>a:visited {
    text-decoration: none !important;
    background-color: #09195B;
    border: 1px solid black;
    font-size: 20px;
    text-align: center !important;
    padding: 5px 0 0 0;
    color: white;
    display: block;
    width: 300px;
    height: 40px;
    margin-bottom: 1px; /* Theese 3 margins refer to those between each individual box */
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 500px) {
    .content {
        margin-right: 20%;
            }
}


/* when hovering over the boxes */
.content>ul>li>a:hover {
    background-color: white;
    color: black !important;
}


/* back to home page button */
.homebutton>a:link,
.homebutton>a:visited {
    text-decoration: none !important;
    color: black;
    font-size: 20px;
    margin-left: 1§%;
    padding: 5px 5px;
    border: 1px solid black;
    font-size: 15px;
    background-color: white;
}


.homebutton>a:hover {
    background-color: #faf9f7;
}


/*basic outline for the product box*/
.outline {
    width: 1300px;
    height: 70px;
    margin-left: 20px;
    border: 2px solid black;
    background-color: #09195B;
    color: white;
    padding: 1px;
    height: 200px;
    word-wrap: break-word;
}


.words {
    margin: 0px;
    font-size: 17px;
    margin: 10px;
    text-decoration: none !important;
}


/*just a fashionable line in the review box*/
.line {
    border-bottom: 1px solid white;
    font-weight: bold;
}


.frame{
    width:120px;
    height:240px;
}


.booklinkphy1 >a:link,
.booklinkphy1 >a:visited {
    color: white 
}

.imagelinkphy1 {
    position: absolute; top: 288px; left: 1310px; 
}


.booklinkphy2 >a:link,
.booklinkphy2 >a:visited {
    color: white 
}
/* IMP: GAP BETWEEN TWO IMAGES SHOULD BE OF 258px */
.imagelinkphy2 {
    position: absolute; top: 546px; left: 1310px; 
}


.booklinkphy3 >a:link,
.booklinkphy1 >a:visited {
    color: white 
}

.imagelinkphy3 {
    position: absolute; top: 804px; left: 1310px; 
}


.booklinkphy4 >a:link,
.booklinkphy4 >a:visited {
    color: white 
}

.imagelinkphy4 {
    position: absolute; top: 1062px; left: 1310px; 
}


.booklinkphy5 >a:link,
.booklinkphy5 >a:visited {
    color: white 
}

.imagelinkphy5 {
    position: absolute; top: 1320px; left: 1310px; 
}


.booklinkphy6 >a:link,
.booklinkphy6 >a:visited {
    color: white 
}

.imagelinkphy6 {
    position: absolute; top: 1578px; left: 1310px; 
}


.booklinkphy7 >a:link,
.booklinkphy6 >a:visited {
    color: white 
}

.imagelinkphy7 {
    position: absolute; top: 1836px; left: 1310px; 
}


/* CHEM SECTION */


.booklinkchem1 >a:link,
.booklinkchem1 >a:visited {
    color: white 
}

.imagelinkchem1 {
    position: absolute; top: 288px; left: 1310px; 
}


.booklinkchem2 >a:link,
.booklinkchem2 >a:visited {
    color: white 
}

.imagelinkchem2 {
    position: absolute; top: 546px; left: 1310px; 
}


.booklinkchem3 >a:link,
.booklinkchem3 >a:visited {
    color: white 
}

.imagelinkchem3 {
    position: absolute; top: 804px; left: 1310px; 
}


.booklinkchem4 >a:link,
.booklinkchem4 >a:visited {
    color: white 
}

.imagelinkchem4 {
    position: absolute; top: 1062px; left: 1310px; 
}


.booklinkchem5 >a:link,
.booklinkchem5 >a:visited {
    color: white 
}

.imagelinkchem5 {
    position: absolute; top: 1320px; left: 1310px; 
}


.booklinkchem6 >a:link,
.booklinkchem6 >a:visited {
    color: white 
}

.imagelinkchem6 {
    position: absolute; top: 1578px; left: 1310px; 
}


.booklinkchem7 >a:link,
.booklinkchem7 >a:visited {
    color: white 
}

.imagelinkchem7 {
    position: absolute; top: 1836px; left: 1310px; 
}

/* BIOLOGY SECTION */


.booklinkbio1 >a:link,
.booklinkbio1 >a:visited {
    color: white 
}

.imagelinkbio1 {
    position: absolute; top: 288px; left: 1310px; 
}


.booklinkbio2 >a:link,
.booklinkbio2 >a:visited {
    color: white 
}

.imagelinkbio2 {
    position: absolute; top: 546px; left: 1310px; 
}


.booklinkbio3 >a:link,
.booklinkbio3 >a:visited {
    color: white 
}

.imagelinkbio3 {
    position: absolute; top: 804px; left: 1310px; 
}


.booklinkbio4 >a:link,
.booklinkbio4 >a:visited {
    color: white 
}

.imagelinkbio4 {
    position: absolute; top: 1062px; left: 1310px; 
}


.booklinkbio5 >a:link,
.booklinkbio5 >a:visited {
    color: white 
}

.imagelinkbio5 {
    position: absolute; top: 1320px; left: 1310px; 
}


.booklinkbio6 >a:link,
.booklinkbio6 >a:visited {
    color: white 
}

.imagelinkbio6 {
    position: absolute; top: 1578px; left: 1310px; 
}
















